:root {
  --h1-font-size: 20px;
  --h1-font-weight: bold;
  --h1-color: #333fff;
  --h2-font-size: 15px;
  --h2-color: #b8b9c4;
  --body-font-family: arial;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  color: var(--h1-color);
}

h2 {
  font-size: var(--h2-font-size);
  color: var(--h2-color);
}

body {
  font-family: var(--body-font-family);
}

@media only screen and (max-width: 768px) {
  header {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .container-menu {
    align-items: center;
    background-color: rgb(209, 248, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .tokio {
    display: flex;
    height: 10em;
    padding: 20px;
    width: 10em;
  }

  .container-rrss {
    align-items: center;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 3em 0;
  }

  .container-menu ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.8em;
    font-weight: bold;
    gap: 20px;
    justify-content: center;
    list-style: none;
    margin: auto;
  }

  nav ul li a {
    text-decoration: none;
  }

  .logo {
    height: 40px;
    width: auto;
  }

  h1 {
    margin-top: 3em;
    text-align: center;
  }

  p {
    text-align: justify;
  }

  .container-info {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    width: 100%;
  }

  .imagen-container {
    align-content: center;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
  }

  .container-principal {
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  table {
    margin: 3em 0;
    border: 1px solid rgb(37, 212, 37);
  }

  th {
    font-size: 18px;
  }
  td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
  }

  footer {
    background-color: rgb(209, 248, 235);
    font-size: 1em;
    font-weight: bold;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1300px) {
  header {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .container-menu {
    align-items: center;
    background-color: rgb(209, 248, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .tokio {
    display: flex;
    height: 10em;
    padding: 20px;
    width: 10em;
  }

  .container-rrss {
    align-items: center;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 3em 0;
  }

  .container-menu ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.8em;
    font-weight: bold;
    gap: 20px;
    justify-content: center;
    list-style: none;
    margin: auto;
  }

  nav ul li a {
    text-decoration: none;
  }

  .logo {
    height: 40px;
    width: auto;
  }

  h1 {
    margin-top: 3em;
    text-align: center;
  }

  p {
    text-align: justify;
  }

  .container-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 50px;
    justify-content: space-around;
    width: 100%;
  }

  .imagen-container {
    border-radius: 50%;
    height: 300px;
    width: 300px;
  }

  .container-principal {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 auto;
  }

  table {
    margin: 3em auto;
    border: 1px solid rgb(37, 212, 37);
  }

  th {
    font-size: 18px;
  }
  td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
  }

  footer {
    background-color: rgb(209, 248, 235);
    font-size: 1em;
    font-weight: bold;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
  }
}

@media only screen and (min-width: 1300px) {
  header {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .container-menu {
    background-color: rgb(209, 248, 235);
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0 auto;
    padding: 10px;
    width: 90%;
  }

  .tokio {
    padding: 20px;
  }

  .container-rrss {
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 15%;
  }

  .container-menu ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2em;
    font-weight: bold;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 85%;
  }

  nav ul li a {
    text-decoration: none;
  }

  .logo {
    height: 40px;
    width: auto;
  }

  .container-principal {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-around;
    margin: 25px;
    padding: 25px;
    width: 90%;
  }

  h1 {
    color: rgb(6, 6, 201);
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
  }

  p {
    color: rgb(6, 6, 201);
    font-size: 1.2em;
    text-align: justify;
    width: 90%;
  }

  .imagen-container {
    border-radius: 50%;
    height: 300px;
    width: 300px;
  }

  table {
    margin: 3em auto;
    border: 1px solid rgb(37, 212, 37);
  }

  th {
    font-size: 18px;
  }
  td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
  }

  footer {
    background-color: rgb(209, 248, 235);
    font-size: 1em;
    font-weight: bold;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
  }
}
