.container-menu {
  background-color: rgb(209, 248, 235);
  display: flex;
  margin: 0 20px;
  padding: 10px;
}

.tokio {
  padding: 20px;
}

.container-rrss {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 15%;
}

.container-menu ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 2em;
  font-weight: bold;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 85%;
}

nav ul li a {
  text-decoration: none;
}

.logo {
  height: 40px;
  width: auto;
}

footer {
  background-color: rgb(209, 248, 235);
  font-size: 1em;
  font-weight: bold;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}
